{% extends 'main_menu/base.html.twig' %}

{% block title %}Producto - Show{% endblock %}

{% block body %}
    <h2>Producto</h2>    

    <section class="product-details">
        <div class="logo-marca-container">
            <img class="logoMarcaOrderShow" src="{{ asset('uploads/logo_marca/') ~ marca.logo }}" alt="logo marca">
        </div>
        <form action="#">
            <fieldset>
                <legend>Datos del Producto</legend>
                <div>
                    <label for="id">Id:</label>
                    <input type="number" id="id" name="id" value="{{ producto.id }}" readonly>
                </div>
                <div class="part-number">
                    <label for="part-number">Referencia:</label>
                    <input type="text" id="part-number" name="part-number" value="{{ producto.referencia }}" readonly>
                </div>
                <div class="description">
                    <label for="description">Descripción:</label>
                    <input type="text" id="description" name="description" value="{{ producto.descripcion }}" readonly>
                </div>
                <div class="family">
                    <label for="family">Familia:</label>
                    <input type="text" id="family" name="family" value="{{ producto.familia|upper }}" readonly>
                </div>
                <div class="trademark">
                    <label for="trademark">Marca:</label>
                    <input type="text" id="trademark" name="trademark" value="{{ marca.nombre }}" readonly>
                </div>
            </fieldset>
        </form>
    </section>
	<fieldset class="showUserControls"> 
		<a class="btn button" href="{{ path('producto_index') }}">Ir a Listado</a>
		<a class="btn button" href="{{ path('producto_edit', {'id': producto.id}) }}">Editar</a>
		{{ include('producto/_delete_form.html.twig') }}
	</fieldset>
{% endblock %}
