{% extends 'base.html.twig' %}

{% block title %}TipoEstado index{% endblock %}

{% block body %}
    <h1>TipoEstado index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Estado</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tipo_estado in tipo_estados %}
            <tr>
                <td>{{ tipo_estado.id }}</td>
                <td>{{ tipo_estado.estado }}</td>
                <td>
                    <a href="{{ path('tipo_estado_show', {'id': tipo_estado.id}) }}">show</a>
                    <a href="{{ path('tipo_estado_edit', {'id': tipo_estado.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('tipo_estado_new') }}">Create new</a>
{% endblock %}
