{% extends 'main_menu/base.html.twig' %}

{% block title %}Pedido Call Center{% endblock %}

{% block body %}
    <h2>Pedido de Cliente</h2>
    <div id="datos">				
		<div id="gif">
							
		</div>
	</div>    

    <section class="order-details">              
        <form action="#">
            <fieldset>
                <legend>Detalles del pedido</legend>
                <div class="logo-marca-container">
                    <img class="logoMarcaOrderShow" src="{{ asset('uploads/logo_marca/') ~ logo.logo}}" alt="logo marca">
                </div>
                <div class="numero-pedido">
                    <label class="order-details-label" for="id">Nº de pedido</label>
                    <input type="text" id="id" name="id" value="{{ pedido_call_center.id }}" size="2" readonly>
                </div>
                <div class="fecha">
                    <label for="fecha">Fecha</label>
                    <input type="text" id="fecha" name="fecha" value="{{ pedido_call_center.fecha ? pedido_call_center.fecha|date('d-m-Y') : '' }}" size="8" readonly>
                </div>
                <div class="numero-cliente">
                    <label class="order-details-label" for="cuentaCliente">Nº cliente</label>
                    <input type="text" id="cuentaCliente" name="cuentaCliente" value="{{ pedido_call_center.cuentaCliente }}" size="2" readonly>
                </div>
                
                <div class="nombre-cliente">
                    <label for="nombreCliente">Cliente</label>
                    <input type="text" id="nombreCliente" name="nombreCliente" value="{{ pedido_call_center.nombreCliente | upper }}" size="28" readonly>
                </div>
                <div class="persona-contacto">
                    <label class="order-details-label" for="contacto">Pers. contacto</label>
                    <input type="text" id="contacto" name="contacto" value="{{ pedido_call_center.contacto | upper }}" size="31" readonly>
                </div>
                <div class="tfno-contacto">
                    <label for="telefono">Tfno. contacto</label>
                    <input type="tel" id="telefono" name="telefono" value="{{ pedido_call_center.telefono }}" size="10" readonly>
                </div>                                
                
                <div class="tfno1">
                    <label for="telefono1">Teléfono</label>
                    <input type="tel" id="telefono1" name="telefono1" value="{{ pedido_call_center.telefono1 }}" size="10" readonly>
                </div>                
                <div class="comentario">
                    <label class="order-details-label" for="comentario">Comentario</label>
                    <textarea id="comentario" name="comentario" rows="4" readonly>{{ pedido_call_center.comentario }}</textarea>
                </div> 
                <div class="vin">
                    <label for="vin">VIN</label>
                    <input type="text" id="vin" name="vin" value="{{ pedido_call_center.vin }}" size="31" readonly>
                </div>
                <div class="estado">
                    <label class="order-details-label" for="estado">Estado</label>
                    <input type="text" id="estado" name="estado" value="{{ estado.estado }}" size="15" readonly>
                </div>                               
                
            </fieldset>
            
        </form>
    <section/>

	<fieldset class="showUserControls"> 
		<a class="btn button" href="{{ path('pedido_call_center_index') }}">Ir a listado</a>

		<a class="btn button" href="{{ path('pedido_call_center_edit', {'id': pedido_call_center.id}) }}">Editar</a>
        <div class="print_pdf">
			<a href="{{ path('pedido_call_center_print', {'id': pedido_call_center.id }) }}" target="_blank"><img class="m-lg-0" src="{{ asset('images/print_order.png') }}"></a>
		</div>
        
    	{{ include('pedido_call_center/_delete_form.html.twig') }}
	</fieldset>
{% endblock %}
