{{ form_start(form, {'attr': {'id': 'tradeMark'}}) }}
	<div class="text-center" style="color:red">
		{% if errors is defined %}
			{% for error in errors %}
				 <p class="validaForm">{{ error.message }}</p>
			{% endfor %}
		{% endif %}		
	</div>
	<fieldset>		
		<legend>Datos de la Marca</legend>	
    	<div class="clienteForm col-12 mb-2">
			{{ form_label(form.nombre, 'Nombre:') }}
			{{ form_widget(form.nombre, { 'attr': { 'autofocus': 'true', 'placeholder': 'Renault' }}) }}			
		</div>
		<div class="clienteForm col-12">
			{{ form_label(form.logo, 'Logo:') }}
			{{ form_widget(form.logo) }}			
		</div>		
    </fieldset>
    <fieldset class="showTrademarkControls">
    	<button class="btn button">{{ button_label|default('Guardar') }}</button>
    	<a class="btn button" href="{{ path('marca_index') }}">Ir a la lista</a>		    	
    </fieldset>
{{ form_end(form) }}
